<html>
	<head>
		<title>
			Facebook page
		</title>
	</head>

	<body>
		<div style="background-color:red;border: 2px solid darkblue;margin-left: auto; margin-right: auto; width: 50%; height: 500px;text-align:center;">
			<div style="background-color: white;border: 2px solid darkblue; margin-left: 2cm;  height: 400px;width:80%;margin-top: 2cm; text-align:centre;">
			<table>
					<tr style="padding:5px">
						<td style="padding:5px;width:30%;">
            				<input type="checkbox" name="myTextEditBox" value="checked" /> anshu
            			</td>
            			<td style="padding:5px;width:10%;">
            				<img src="C:\Users\Public\Pictures\Sample Pictures\Dock.jpg" alt="" border=3 height=100 width=100></img>
            			</td>	
            		</tr>
            		<tr style="padding:5px">
						<td style="padding:5px;width:30%;">
            				<input type="checkbox" name="myTextEditBox" value="checked" /> anmol
            			</td>
            			<td style="padding:5px;width:10%;">
            				<img src="C:\Users\Public\Pictures\Sample Pictures\Dock.jpg" alt="" border=3 height=100 width=100></img>
            			</td>	
            		</tr>
            		<tr style="padding:5px">
						<td style="padding:5px;width:30%;">
            				<input type="checkbox" name="myTextEditBox" value="checked" /> dgrshbf
            			</td>
            			<td style="padding:5px;width:10%;">
            				<img src="C:\Users\Public\Pictures\Sample Pictures\Dock.jpg" alt="" border=3 height=100 width=100></img>
            			</td>	
            		</tr>
			</table>
				
			</div>
		</div>
	</body>
